*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width:100%
}

body{
    font-family: arial;
  }
  .hero-section {
	padding: 80px 120px;
	height: 700px;
	
}
  .hero-left {
    width: 50%;
    float: left;
    margin-top: 150px;
    padding-left: 100px;
    
  }
  .hero-left h1{
    font-size: 80px;
    margin-bottom: 0;
  }
  .hero-left h1 span{
      color:#DB5456;
      font-size: 85px;
      
  }
  .hero-left p{
    font-size: 16px;
    line-height: 28px
  }
  .btn{
    display: inline-block;
    text-decoration: none;
    background-color:#DB5456;
    padding: 15px 60px;
    color:white;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .hero-right {
    width: 50%;
    float: right;
  }
  .hero-right img {
    width: 80%;
    border-radius: 50%;
  }

  /* breakfast section */
  
.breakfast-container {
    width: 30%;
    float: left;
  }
  .breakfast-section {
	height: 700px;
	padding: 80px 120px;
	background: #eee;
	margin-top: 150px;
}
  .breakfast-image {
    width: 70%;
    float: right;
  }
  .breakfast-image img {
	width: 952px;
	margin: 0 auto;
	margin-left: 150px;
	height: 480px;
	object-fit: cover;
	margin-top: 25px;
}
.breakfast-content {
	background: white;
	padding: 50px;
	width: 400px;
	height: 400px;
	position: absolute;
	margin-left: 300px;
	margin-top: 62px;
}
  .breakfast-content h2 {
    font-size: 40px;
  }
  .breakfast-content p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }

  /* fast food section */
  .fastfood-section {
	height: 700px;
	margin:95px 0;
	padding: 80px 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.fastfood-content {
    margin-top: 120px;
    margin-left: 50px;
  }
  .fastfood-content h2 {
    color: white;
    font-size: 70px;
  }
  .fastfood-content p {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  }

  /* delivery css */

  
  .delivry-section {
	padding: 80px 120px;
	margin: -70px 0 165px 0;
	height: 600px;
}
  .deleivery-image {
    width: 50%;
    float: left;
  }
  .deleivery-image img {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    object-fit: cover;
  }
  .delivery-container {
    width: 50%;
    float: right;
  }
  .delivery-content {
	background: #EEEEEE;
	padding: 80px;
	margin-top: 50px;
	width: 550px;
	height: 470px;
}
  .delivery-content h2 {
    font-size: 40px;
  }
  .delivery-content p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 24px;
  }
  
  /* footer css */

  .footer-section{
      height: 600px;
      background-color: black;
      margin-top:95px;
      padding:80px 120px;
  }
  .footer-image{
      width: 40%;
      float:left;
  }
  
  .footer-content {
    color: white;
    width: 60%;
    float: left;
    padding-left: 100px;
    padding-top: 83px;
    text-align: center;
  }
.footer-content h2 {
  font-size: 40px;
}
.footer-content form {
  margin: 35px 0;
}
.footer-content form input {
  width: 40%;
  border: 0;
  padding: 12px;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
}
.footer-content form input[type="submit"] {
  width: auto;
  background: tomato;
  border: none;
  padding: 15px 50px;
  font-size: 16px;
}
.footer-content h4{
  font-size:24px;
  margin-bottom:10px
}
.footer-content p{
  margin:5px 0
}